header
{ display: flex;
    align-items: center;
justify-content: space-between;
}

nav
{
    display: flex;
    justify-content: space-between;    
}
nav p:hover 
{
    color: rgb(12, 26, 224);
}

p
{padding-left: 10px;}

#icon 
{
    color:#0065FC;
    size:60px;
}

h1
{color:#0065FC;
font-weight: bold;}

p
{
    font-weight: normal;
}


@font-face {
    font-family: 'ralewaythin_italic';
    src: url('Ralewaykit/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('Ralewaykit/raleway-italic-variablefont_wght-webfont.woff') format('woff');
   
}

@font-face {
    font-family: 'ralewaythin';
    src: url('Ralewaykit/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('Ralewaykit/raleway-variablefont_wght-webfont.woff') format('woff');
   
}
html
{
    font-family: 'ralewaythin';
    font-size: small;
    font: bold 700;
}


#filtres
{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    
}

p
{  
    font-weight: bold;}

/*form
{ 
    border-top-right-radius: solid;
    border-radius: 20px;
border-color: #DEEBFF;
background-color: #DEEBFF;} */

.button-recherche
{ background-color: #0065FC;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;}

form i 
{
    background-color: grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1%;
}

#filtres span
{
    margin-top:3%;
    border: 2px solid grey;
  border-radius:30px;
  border-color: grey;
  color:#0065FC;
 }

#filtres i
{
 background-color: #adadad;
 border-radius:200px;
}
    

 @media only screen and 
 (min-width:480px) and (max-width:1024px)
 {}

 