header
{ display: flex;
    align-items: center;
justify-content: space-between;
}

nav

{
    display: flex;
    justify-content: space-between;
    
}
p

{padding-left: 8px;}

    
#icon 
{
    color:#0065FC ;
}


h1
{color:#0065FC;
font-weight: bold;}

p
{
    font-weight: normal;
}


@font-face {
    font-family: 'ralewaythin_italic';
    src: url('Ralewaykit/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('Ralewaykit/raleway-italic-variablefont_wght-webfont.woff') format('woff');
   

}

@font-face {
    font-family: 'ralewaythin';
    src: url('Ralewaykit/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('Ralewaykit/raleway-variablefont_wght-webfont.woff') format('woff');
   

}
html
{
    font-family: 'ralewaythin';
    font-size: small;
    font: bold 700;

}


#filtres

{
    display: flex;
    justify-content: space-between;
    
}
p
{ font-weight: bold;}

span
{
    margin-top: 15pt;
    border: solid;
  border-radius:30px;
  border-color:#DEEBFF;
  background-color: #DEEBFF;
  color:#0065FC;
 }
@media screen {
    
}