@media (max-width: 600px) {
    .sidebar {display: none;
    }
  }

@font-face{
    font-family: "raleway-VariableFont";
    src: url(projet-reservia/static);

}
h1
{color:#0065FC;
font-weight: bold;}
h2
{
    font-weight: normal;
}

#conteneur1
{
    display: flex; 
    justify-content: flex-end;
    
    
}

#conteneur2
{
    display: flex;
    justify-content: space-evenly;

}





