/* Responsive Tablette et mobile */

 @media 
 (min-width:1200px)
 
 {  
     body { max-width: 1000px; }
 }
 /* @media (min-width: 890px) and (max-width: 992px) 
     { body {
         max-width: 900px;
     }

 }
 @media (min-width: 660px) and (max-width: 889px) 
     { body {
         max-width: 660px;
     }*/

 

    /*body { max-width: 415px */
 /*@media (min-width:400px)*/
@media (max-width:1200px)
{
    #Resultat { 
        flex-direction: column-reverse;
        padding: 5%;
    }
    #Resultat .H
    {
        background-color: white;
    }

    .P ,.H {
        width: 100%;

    }
.P , .H img
{ object-position: center;
}
    
    .bloc1
    {
        flex-direction: column;

    }

    .bloc1 figure {
            width: 100%;
            
    }


    footer #piedpage
    {
        flex-direction: column;
        
    }
    #bloc3 
    {
        flex-direction: column;
        width: 100%;
        height: 35%;
    }
    #bloc3 .photo figure img
    {
        height: 35%;
    }

}